<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>add book</title>
</head>
<body>
<form  action="#" th:action="@{/books/addbook}" th:object="${book}" method="post">
    <div class="form-group">
        <label for="bname">bname</label>
        <input type="text" th:field="*{bname}" class="form-control" id="bname" aria-describedby="bnameHelp" placeholder="Enter bname">
        <small id="bnameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <span th:if="${#fields.hasErrors('bname')}" th:errors="*{bname}"></span>
    </div>

    <div class="form-group">
        <label for="uid">uid</label>
        <input type="text" th:field="*{uid}" class="form-control" id="uid" aria-describedby="uidHelp" placeholder="Enter uid">
        <small id="uidHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <span th:if="${#fields.hasErrors('uid')}" th:errors="*{uid}"></span>
    </div>

    <div class="form-group">
        <label for="publish">publish</label>
        <input type="text" th:field="*{publish}" class="form-control" id="publish" aria-describedby="publishHelp" placeholder="Enter publish">
        <small id="publishHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <span th:if="${#fields.hasErrors('publish')}" th:errors="*{publish}"></span>
    </div>

    <div class="form-group">
        <label for="publishdate">publishdate</label>
        <input type="date" th:field="*{publishdate}" class="form-control" id="publishdate" aria-describedby="publishdateHelp" placeholder="Enter publishdate">
        <small id="publishdateHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <span th:if="${#fields.hasErrors('publishdate')}" th:errors="*{publishdate}"></span>
    </div>

    <div class="form-group">
        <label for="page">page</label>
        <input type="text" th:field="*{page}" class="form-control" id="page" aria-describedby="pageHelp" placeholder="Enter page">
        <small id="pageHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <span th:if="${#fields.hasErrors('page')}" th:errors="*{page}"></span>
    </div>

    <div class="form-group">
        <label for="price">price</label>
        <input type="text" th:field="*{price}" class="form-control" id="price" aria-describedby="priceHelp" placeholder="Enter price">
        <small id="priceHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
    </div>

    <div class="form-group">
        <label for="content">content</label>
        <input type="text" th:field="*{content}" class="form-control" id="content" aria-describedby="contentHelp" placeholder="Enter content">
        <small id="contentHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
    </div>
    <button type="submit" class="btn btn-primary"  value="Add Book">Submit</button>
</form>


</body>
</html>