<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>add book</title>
</head>
<body>
    <div class="card-body" th:switch="${books}">
        <h2 th:case="null">No books yet!</h2>
        <div th:case="*">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>bid</th>
                    <th>bname</th>
                    <th>uid</th>
                    <th>publish</th>
                    <th>publishdate</th>
                    <th>page</th>
                    <th>price</th>
                    <th>content</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>bid</th>
                    <th>bname</th>
                    <th>uid</th>
                    <th>publish</th>
                    <th>publishdate</th>
                    <th>page</th>
                    <th>price</th>
                    <th>content</th>
                </tr>
                </tfoot>
                <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${book.bid}"></td>
                    <td th:text="${book.bname}"></td>
                    <td th:text="${book.uid}"></td>
                    <td th:text="${book.publish}"></td>
                    <td th:text="${book.publishdate}"></td>
                    <td th:text="${book.page}"></td>
                    <td th:text="${book.price}"></td>
                    <td th:text="${book.content}"></td>
                    <td><a th:href="@{/books/edit/{bid}(bid=${book.bid})}">Edit</a></td>
                    <td><a th:href="@{/books/delete/{bid}(bid=${book.bid})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
            <p><a href="/books/signup">Add a new Book</a></p>
    </div>
</body>
</html>